*.o
.libs
*.lo
src/tags
perf.data
*.la
m4
config.status
*.swp
*.log
*.data
autom4te.cache
libtool
src/.deps
temp

# Autotools stuff
COPYING
INSTALL
ar-lib
compile
Makefile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
