*.o
.libs
*.lo
src/tags
perf.data
*.la
m4
config.status
*.swp
*.log
*.data
autom4te.cache
libtool
src/.deps
temp
birch

# Autotools stuff
COPYING
INSTALL
aclocal.m4
ar-lib
compile
Makefile
Makefile.in
configure
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
